body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
      
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Цвет фона вашего заголовка */
    color: rgb(0, 0, 0); /* Цвет текста */
    padding: 10px 20px;
    list-style: none;
}

.menu-button {
    background-color: #ffffff; /* Цвет фона кнопки Меню */
    color: black; /* Цвет текста кнопки Меню */
    margin-left: 100px;
}

.contacts-button {
    background-color: #ffffff; /* Цвет фона кнопки Контакты */
    color: black; /* Цвет текста кнопки Контакты */
    margin-left: 50px;
}

/* Добавьте стили для элементов списка */
.menu-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-item {
    margin-right: 10px;
    background-color: #ffffff;
    color: black;
}
.menu-title-red {
color: red;

}
.menu-description-black {
color: black;
}
.action-button {
    background-color: rgb(226, 17, 17); /* Цвет фона кнопок */
    color: rgb(247, 247, 247); /* Цвет текста кнопок */
    border: none;
    border-radius: 25px; /* Установите значение по вашему усмотрению для округленных углов */
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.actions {
    display: flex;
    align-items: center;
}

.logotip {
    /* Здесь можно добавить стили для логотипа, но фотографию нужно указать в HTML */
    width: 80px; /* Размер логотипа */
    height: 80px;
}

.logotip img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%; /* Превращает квадратное изображение в круглое */
}

.sup-section {
    position: relative;
    background: url('dostavka/img/shurpa.jpg') center/cover no-repeat; 
    color: rgb(5, 5, 5);
    text-align: center;
    height: 300px; /* Установите желаемую высоту секции */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.myaso-section {
    position: relative;
    background: url('dostavka/img/myaso.jpg') center/cover no-repeat; 
    color: rgb(5, 5, 5);
    text-align: center;
    height: 300px; /* Установите желаемую высоту секции */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shashliki-section {
    position: relative;
    background: url('dostavka/img/shahliki.jpg') center/cover no-repeat; 
    color: rgb(5, 5, 5);
    text-align: center;
    height: 300px; /* Установите желаемую высоту секции */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.wrapper {
    text-align: center;
    background-color: #ffffff;
  }
  
  .flex {
    display: inline-flex;
    padding: 20px 20px;
  }
  
  .cart {
    width: 300px;
    background-color: #fff;
  }
  
  .cart:not(:first-child) {
    margin-left: 20px;
  }
  
  img {
    display: inline-block;
    max-width: 200px;
    object-fit: cover;

  }
  
  .description {
    font-size: 14px;
    text-align: left;
    width: 90%;
    margin: 20px auto;
    padding-left: 100px;
  }
  
  .price {
    margin: 20px auto;
  }
  
  .button {
    margin: 20px auto;
  }
  
  .button button {
    border: none;
    outline: none;
    display: inline-block;
    padding: 10px 20px;
    background: rgb(226, 17, 17);;
    border-radius: 30px;
    transition: scale 0.1s ease-in;
    color: #fff;
  }
  
  .button:hover button {
    transform: scale(1.1);
    background-color: rgb(226, 17, 17);;
  }

.red-footer {
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Отступ между элементами */
}

.contact-info p {
    margin: 0;
}
.red-footer a {
    color: white; /* Set the text color for links in red-footer */
    text-decoration: none; /* Remove underlines from links */
}

.red-footer a:hover {
    text-decoration: underline; /* Add underline on hover for links */
}
.subscribe-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Отступ между контактами и формой подписки */
    
}

.subscribe-form input {
    padding: 5px;
    margin-bottom: 10px; /* Отступ между полем ввода и кнопкой */
}

.subscribe-form button {
    background-color:rgb(247, 247, 247); /* Цвет фона кнопок */
    color:  rgb(226, 17, 17); /* Цвет текста кнопок */
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Отступ между формой подписки и иконками */
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px; /* Размер логотипов */
    height: 30px; /* Размер логотипов */
}

.copyright {
    text-align: center;
}